services:
    arduino-driver:
      build:
        context: .
        dockerfile: arduino_driver/Dockerfile
      image: ros-arduino-driver
      container_name: arduino-driver
      network_mode: host
      ipc: host
      tty: true
      devices:
        - /dev/ttyUSB0

    robot-sim:
      build:
        context: .
        dockerfile: diff_robot_sim/Dockerfile
      image: ros-diff-robot-sim
      container_name: diff-robot-sim
      environment:
          - DISPLAY
      volumes:
          - /tmp/.X11-unix:/tmp/.X11-unix:rw
      network_mode: host
      ipc: host
      tty: true
      depends_on: 
        - arduino-driver

